body,html{
    width: 100%;
    height: 100%;
}


#myContainer{
    width: 100%;
    height: 100%;
    #myWrapper{
        height: 100%;
        .swiper-slide{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            .music-ctr{
                width: 44px;
                height: 44px;
                position: absolute;
                top: 3%;
                right: 5%;
                z-index: 9999;
                background: url(../img/css_sprite01.png) no-repeat 0 0;   
            }
            .music{
                width: 100%;
                height: 10%;
                position: absolute;
                left: 82%;
                z-index: 9999;
                background: transparent;
            }
            .ab{
                position: absolute;
            }
            .arrow{
                width: 16%;
                left: 42%;
                bottom: 2%;
                height: 6%;
                z-index: 10;
                background: url(../img/units-icons.png) no-repeat -60px -12px;
            }
            &:nth-child(1){
                .bg{
                    height:80%;
                    left: 0;
                    top: 0;
                }
                .line{
                    height: 40%;
                    width: 110%;
                    z-index: 10;
                    top: 60%;
                    left: -5%;
                }
                .head{
                    top: 0;
                    left: 0;
                }
                .text{
                    width: 70%;
                    height: 34%;
                    left: 15%;
                    top: 10%;
                }
                .footer{
                    width: 100%;
                    bottom: 40%;
                }
                .cube{
                    width: 34%;
                    height: 16%;
                    left: 33%;
                    bottom: 30%;
                    z-index: 10;
                }
                .title{
                    z-index: 10;
                    width: 34%;
                    height: 6%;
                    left: 33%;
                    bottom: 24%;
                }
                .content{
                    width: 100%;
                    z-index: 10;
                    bottom: 8%;
                    p{
                        width: 100%;
                        text-align: center;
                        font-size: 16px;
                        line-height: 1.5;
                        color: #d31633;
                    }
                }
            }
            &:nth-child(2){
                .bg{
                    width: 100%;
                    height: 100%;
                }
                .head{
                    left: 0;
                    top: 0;
                }
                .page2-content{
                    width: 104%;
                    left: -2%;
                    bottom: 8%;
                }
                .title{
                    width: 100%;
                    text-align: center;
                    font-size: 20px;
                    line-height: 1.5;
                    font-weight: bold;
                    color: #d31633;
                    top: 40%;
                    transform: rotate(351.87deg);
                }
                .text{
                    width: 70%;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 16px;
                    color: #d31633;
                    top: 46%;
                    left: 17%;
                    transform: rotate(351.87deg);
                }
                .snow{
                    width: 70%;
                    height: 16%;
                    top: 62%;
                    left: 20%;
                }
            }
            &:nth-child(3){
                .bg{
                    width: 100%;
                    height: 100%;
                }
                .head{
                    left: 0;
                    top: 0;
                }
                .footer{
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                }
                .page3-up{
                    width: 54%;
                    left: 23%;
                    top: 15%;
                }
                .page3-down{
                    width: 54%;
                    left: 23%;
                    top: 24%;
                }
                .page3-title{
                    width: 54%;
                    left: 23%;
                    top: 18%;
                    strong{
                        width: 100%;
                        height: 100%;
                        color: #d31633;
                        font-size: 18px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .page3-content{
                    width: 90%;
                    left: 5%;
                    bottom: 0;
                }
                .lingdang{
                    width: 16%;
                    left: 41%;
                    top: 27%;
                }
                .page3-text1{
                    width: 80%;
                    height: 7%;
                    background: url(../img/page3-step.png) no-repeat;
                    background-size: 100% 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 10%;
                    top: 34%;
                    color: #d31633;
                    font-size:18px;
                }
                .page3-text2{
                    width: 80%;
                    height: 7%;
                    background: url(../img/page3-step.png) no-repeat;
                    background-size: 100% 100%;
                     display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 10%;
                    top: 42%;
                    color: #d31633;
                    font-size:18px;
                }
                .page3-text3{
                    width: 80%;
                    height: 7%;
                    background: url(../img/page3-step.png) no-repeat;
                    background-size: 100% 100%;
                     display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 10%;
                    top: 50%;
                    color: #d31633;
                    font-size:18px;
                }
                .page3-text4{
                    width: 80%;
                    height: 7%;
                    background: url(../img/page3-step.png) no-repeat;
                    background-size: 100% 100%;
                     display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 10%;
                    top: 58%;
                    color: #d31633;
                    font-size:18px;
                }
                .page3-text5{
                    width: 80%;
                    height: 7%;
                    background: url(../img/page3-step.png) no-repeat;
                    background-size: 100% 100%;
                     display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 10%;
                    top: 66%;
                    color: #d31633;
                    font-size:18px;
                }
            }
            &:nth-child(4){
                .bg{
                    width: 100%;
                    height: 100%;
                }
                .head{
                    left: 0;
                    top: 0;
                }
                .footer{
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                }
                .page3-up{
                    width: 54%;
                    left: 23%;
                    top: 15%;
                }
                .page3-down{
                    width: 54%;
                    left: 23%;
                    top: 24%;
                }
                .page3-title{
                    width: 54%;
                    left: 23%;
                    top: 18%;
                    strong{
                        width: 100%;
                        height: 100%;
                        color: #d31633;
                        font-size: 18px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .page3-content{
                    width: 90%;
                    left: 5%;
                    bottom: 0;
                }
                .lingdang{
                    width: 16%;
                    left: 41%;
                    top: 27%;
                }
                .active{
                    width: 38%;
                }
                .active1{
                    left: 10%;
                    top: 34%;
                    
                }
                .active2{
                    right: 10%;
                    top: 34%;
                    
                }
                .active3{
                    left: 10%;
                    top: 58%;
                    
                }
                .active4{
                    right: 10%; 
                    top: 58%;                   
                }
            }
            &:nth-child(5){
                .bg{
                    width: 100%;
                    height: 100%;
                }
                .head{
                    left: 0;
                    top: 0;
                }
                .footer{
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                }
                .page3-up{
                    width: 54%;
                    left: 23%;
                    top: 15%;
                }
                .page3-down{
                    width: 54%;
                    left: 23%;
                    top: 24%;
                }
                .page3-title{
                    width: 54%;
                    left: 23%;
                    top: 18%;
                    strong{
                        width: 100%;
                        height: 100%;
                        color: #d31633;
                        font-size: 18px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .page3-content{
                    width: 90%;
                    left: 5%;
                    bottom: 0;
                }
                .lingdang{
                    width: 16%;
                    left: 41%;
                    top: 27%;
                }
                .logo{
                    width: 30%;
                    left: 10%;
                    top: 34%;
                    
                }
                .text{
                    width: 46%;
                    font-size: 12px;
                    right: 10%;
                    top: 36%;
                    span{
                        font-size: 14px;
                        color: #d31633;
                    }
                    p{
                        &:nth-child(1){
                            margin-bottom: 5px;
                        }
                    }
                }
                .sub-title{
                    width: 90%;
                    left: 5%;
                    text-align: center;
                    top: 62%;
                    color: #d31633;
                    font-size: 18px;
                }
                .smalllogo1{
                    width: 20%;
                    left:12.5%;
                    top: 70%;
                    p{
                        width: 100%;
                        text-align: center;
                        font-size: 14px;
                        line-height: 30px;                        
                    }
                }
                .smalllogo2{
                    width: 20%;
                    left: 40%;
                    top: 70%;
                    p{
                        width: 100%;
                        text-align: center;
                        font-size: 14px;
                        line-height: 30px;                        
                    }
                }
                .smalllogo3{
                    width: 20%;
                    right: 12.5%;
                    top: 70%;
                    p{
                        width: 100%;
                        text-align: center;
                        font-size: 14px;
                        line-height: 30px;                        
                    }
                }
            }
        }
    }
}
